# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# VS Code
.vscode/

# Output
output/

eval/results/

train/

.DS_Store


dataset/query_extract/file.xlsx
dataset/query_extract/prac.json
src/db/prac.py